+++
title = "EucaStack"
linkTitle = "EucaStack"

+++

{{< blocks/cover title="Welcome to EucaStack!" image_anchor="top" height="full" color="orange" >}}
<div class="mx-auto">
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/docs" >}}">
		Learn More <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="https://github.com/eucastack">
		Source Code <i class="fab fa-github ml-2 "></i>
	</a>
	<p class="lead mt-5">An open source AWS-compatible hybrid cloud powered by Eucalyptus</p>
	{{< blocks/link-down color="info" >}}
</div>
{{< /blocks/cover >}}


{{% blocks/lead color="primary" %}}
EucaStack is an open source AWS-compatible hybrid cloud powered by Eucalyptus.

EucaStack extends the open source Eucalyptus and Midonet projects to provide an on-premise cloud you can run in your datacenter. Having an on-premise private cloud with AWS-compatible APIs creates a hybrid cloud experience for organizations running workloads in public AWS regions.
{{% /blocks/lead %}}

{{< blocks/section color="dark" >}}
{{% blocks/feature icon="fab fa-discord" title="Join us on Discord!" url="https://discord.gg/A9UPtck4" %}}
Chat with other project developers.
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-github" title="Contributions welcome!" url="https://github.com/eucastack" %}}
We do a [Pull Request](https://github.com/eucastack/eucalyptus/pulls) contributions workflow on **GitHub**. New users are always welcome!
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-twitter" title="Follow us on Twitter!" url="https://twitter.com/eucastack" %}}
For announcement of latest features etc.
{{% /blocks/feature %}}


{{< /blocks/section >}}
